#hero {
    width: 100%;
    height: 100vh;
    background: url('../assets/background.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

#why-shutr {
    width: 100%;
    height: 100vh;
    background: url('../assets/background.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    overflow: hidden;
}